@use "../../utils/variables";
@use "../../utils/mixins";

.reviews {
  margin-top: 40px;
}
.reviews__list {
}
.reviews__item {
  padding: 16px;
  width: 100%;
  background-color: variables.$white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.reviews__header {
  @include mixins.flex($j: space-between, $a: center);
}
.reviews__rate {
  @include mixins.flex($g: 20px, $a: center);
  
}
.reviews__date {
  font-weight: 500;
  font-size: 20px;
}
.reviews__author {
  font-weight: 500;
  font-size: 20px;
}
.reviews__assess {
  margin-right: 5px;
}
.reviews__stars {
  @include mixins.flex($a: center);
  font-size: 20px;
}
.reviews__star-icon {
  width: 24px;

}
.reviews__text {
  margin-top: 10px;
  line-height: 130%;
}
