@mixin flex($g: 0, $d: null, $a: null, $j: null) {
    display: flex;
    @if $g != 0 { gap: $g }
    @if $d != null { flex-direction: $d }
    @if $a != null { align-items: $a }
    @if $j != null { justify-content: $j }

}

@mixin wrapper {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto; 
}