$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);

$light-blue: rgba(159, 236, 215, 0.84);
$blue: rgba(1, 102, 112, 0.85);
$dark-blue: rgba(1, 102, 112, 1);

$main-yellow: rgba(251, 225, 128, 1);
$light-yellow: rgba(251, 225, 128, 0.7);
$background: rgba(254, 249, 244, 1);

