@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Round&family=Nunito:wght@400;500;700&display=swap");
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: inherit solid 2px inherit;
}

a:focus, a:active {
  outline: inherit solid 2px inherit;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: rgb(0, 0, 0);
  background-color: rgb(254, 249, 244);
  font-family: "Nunito", sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  display: block;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  display: block;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}
.wrapper--cart {
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.header {
  background-color: rgba(159, 236, 215, 0.84);
  max-height: 80px;
  width: 100%;
}

.header > .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__general-info {
  display: flex;
  align-items: center;
}

.header__user-info {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Nova Round";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  margin: 16px 28px 14px 0px;
}

.search-form {
  margin-right: 38px;
  max-width: 363px !important;
  width: 100%;
  display: flex;
}

.search-form__label {
  width: 363px;
}

.search-form__input {
  width: 100%;
  max-height: 45px;
  height: 100%;
  padding: 12px 57px 12px 12px;
  background: rgb(254, 249, 244);
  margin: 16px 0px 19px 0px;
  border-radius: 9px;
}

.search-form__btn {
  width: 45px;
  height: 45px;
  background-color: rgb(251, 225, 128);
  margin-left: -45px;
  margin-top: 16px;
  border-radius: 9px;
}

.deliv-addr {
  display: flex;
}

.deliv-addr__point {
  margin-right: 10px;
  margin-top: -15px;
}

.deliv-addr__text-wrap {
  display: flex;
  flex-direction: column;
}

.deliv-addr__current {
  white-space: nowrap;
}

.deliv-addr__change-address {
  background-color: transparent;
  text-decoration: underline;
  opacity: 80%;
  white-space: nowrap;
  margin: 1px 0px 0px -13px;
}

.user-info__cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(251, 225, 128);
  box-shadow: 2px 4px 4px -1px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  color: rgb(0, 0, 0);
  margin-right: 24px;
}

.user-info__profile {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
}

.user-info__cart-icon {
  margin-right: 5px;
}

.main__heading {
  z-index: 10;
  margin-top: 40px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
}
.main__heading--delivery {
  font-weight: 500;
  font-size: 32px;
}

.main__page-description {
  margin-top: 40px;
}

.footer {
  color: rgb(255, 255, 255);
  background-color: rgba(1, 102, 112, 0.85);
  margin-top: 40px;
}

.footer > .wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 24px;
}

.footer__nav {
  display: flex;
}

.footer__list:not(:last-child) {
  margin: 0px 60px 0px 0px;
}
.footer__list--credits {
  text-align: end;
}

.footer__list-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.footer__list-text {
  margin-top: 8px;
}

.footer__list-item {
  margin-top: 8px;
}

.footer__list-link {
  color: rgb(255, 255, 255);
}
.footer__list-link:hover {
  text-decoration: underline;
}

.footer__copy {
  padding: 14px 0px;
  color: rgb(255, 255, 255);
  text-align: center;
  display: block;
  background-color: rgb(1, 102, 112);
}

.mark {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 5px;
}
.mark--reviews {
  align-items: center;
  margin-top: 12px;
}

.mark__property {
  font-weight: 500;
  font-size: 18px;
  margin-right: 5px;
}

.mark__opinion {
  margin-left: 5px;
}

.mark__points--reviews {
  font-size: 18px;
  margin-top: 3px;
}

.mark__star-icon {
  margin-right: 2px;
}
.mark__star-icon--reviews {
  width: 24px;
}

.category__label__label-icon {
  margin-left: 3px;
}

.quantity-btn {
  display: flex;
  align-items: center;
}
.quantity-btn--plus {
  padding: 9px 9px 9px 50px;
  background-color: rgb(251, 225, 128);
  border-radius: 6px;
  margin-left: -45px;
  border: rgb(0, 0, 0) solid 0.5px;
}
.quantity-btn--plus:hover {
  background-color: rgba(251, 225, 128, 0.7);
}
.quantity-btn--minus {
  padding: 9px 50px 9px 9px;
  background-color: rgb(251, 225, 128);
  border-radius: 6px;
  margin-right: -44px;
  border: rgb(0, 0, 0) solid 0.5px;
}
.quantity-btn--minus:hover {
  background-color: rgba(251, 225, 128, 0.7);
}

.quantity-btn__label {
  padding: 9px 18px 9px 15px;
  border-radius: 7px;
  background-color: rgb(254, 249, 244);
  display: flex;
  align-items: baseline;
  justify-content: center;
  z-index: 20;
}

.quantity-btn__input {
  background-color: transparent;
  width: 20px;
  margin-right: 2px;
  text-align: end;
}
.quantity-btn__input:focus {
  outline: none;
}

.menu {
  margin-top: 20px;
  max-height: 50px;
  padding: 5px 15px;
  background-color: rgb(251, 225, 128);
  border-radius: 11px;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu-checked {
  padding: 9px 13px;
  background-color: rgb(254, 249, 244);
  border-radius: 11px;
}

.menu__item {
  padding: 9px 13px;
}
.menu__item:not(:last-child) {
  margin: 0px 11px 0px 0px;
}
.menu__item:hover {
  background-color: rgb(254, 249, 244);
  border-radius: 11px;
  padding: 9px 13px;
}

.menu__link {
  color: rgb(0, 0, 0);
}

.category__heading {
  margin-top: 35px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
}

.category__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}

.category__restr-card:not(:last-child) {
  margin: 0px 40px 24px 0px;
}

.category__dishes-card {
  margin: 0px 40px 24px 0px;
}

.restr-card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.restr-card__category-label {
  display: flex;
  align-items: center;
  background-color: rgba(255, 249, 199, 0.94);
  border-radius: 5px;
  padding: 3px;
  z-index: 20;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  bottom: 83%;
  left: 11px;
}

.restr-card__img {
  border-radius: 14px;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 280px;
  height: 150px;
}

.restr-card__link {
  font-weight: 500;
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-top: 7px;
}

.dishes-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 290px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 14px;
  padding: 16px 10px;
}

.dishes-card__name {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.dishes-card__img {
  border-radius: 11px;
  -o-object-fit: cover;
     object-fit: cover;
}

.dishes-card__category-label {
  display: flex;
  align-items: center;
  background-color: rgba(255, 249, 199, 0.94);
  border-radius: 5px;
  padding: 3px;
  z-index: 20;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  bottom: 81%;
  left: 16px;
}

.dishes-card__ingredients {
  margin-top: 16px;
  line-height: 130%;
  margin-bottom: 16px;
}

.dishes-card__add {
  justify-self: end;
  padding: 9px 26px;
  background-color: rgb(251, 225, 128);
  border-radius: 6px;
  align-self: center;
}
.dishes-card__add:hover {
  background-color: rgba(251, 225, 128, 0.7);
}

.restr-banner {
  position: relative;
  margin-top: 40px;
  padding: 36px 0px 36px 36px;
}

.restr-banner__background-image {
  filter: brightness(70%);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  z-index: 0;
  width: 100%;
  height: 258px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restr-banner__heading {
  position: relative;
  z-index: 10;
  margin-top: 0;
  color: rgb(254, 249, 244);
}

.restr-banner__property {
  z-index: 5;
  font-weight: 800;
  font-size: 24px;
  margin-right: 7px;
}

.restr-banner__mark {
  position: relative;
  z-index: 5;
  margin-top: 12px;
  color: rgb(254, 249, 244);
}

.restr-banner__delivery {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 12px;
  color: rgb(254, 249, 244);
}

.restr-banner__reviews {
  position: relative;
  z-index: 5;
  margin-top: 12px;
  color: rgb(254, 249, 244);
}

.restr-banner__del-cost {
  z-index: 5;
  margin-right: 7px;
}

.restr-banner__del-time {
  z-index: 5;
}

.restr-banner__reviews-link {
  z-index: 5;
  color: rgb(254, 249, 244);
  text-decoration: underline;
  margin-top: 5px;
  font-size: 18px;
}
.restr-banner__reviews-link:hover {
  text-decoration: none;
}

.reviews {
  margin-top: 40px;
}

.reviews__item {
  padding: 16px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-bottom: 20px;
}

.reviews__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews__rate {
  display: flex;
  gap: 20px;
  align-items: center;
}

.reviews__date {
  font-weight: 500;
  font-size: 20px;
}

.reviews__author {
  font-weight: 500;
  font-size: 20px;
}

.reviews__assess {
  margin-right: 5px;
}

.reviews__stars {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.reviews__star-icon {
  width: 24px;
}

.reviews__text {
  margin-top: 10px;
  line-height: 130%;
}

.cart {
  margin-top: 24px;
  max-width: 822px;
  width: 100%;
}

.cart__list {
  margin-right: 18px;
}

.cart__item {
  padding: 16px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  display: flex;
  gap: 16px;
  justify-content: space-between;
}
.cart__item:not(:last-child) {
  margin: 0px 0px 24px 0px;
}

.cart__img {
  width: 118px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart__name {
  font-weight: 500;
  font-size: 20px;
}

.cart__ingredients {
  margin-top: 16px;
  line-height: 130%;
}

.cart__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart__delete {
  margin-top: 20px;
  background-color: transparent;
  color: rgb(185, 0, 0);
  text-decoration: underline;
}
.cart__delete:hover {
  text-decoration: none;
}

.delivery-info {
  display: flex;
  gap: 12px;
  flex-direction: column;
  max-width: 510px;
  width: 100%;
}

.delivery-info__wrapper {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.delivery-info__input {
  margin-top: 3px;
  padding: 9px 0px 9px 9px;
  width: 100%;
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 8px;
}

.order {
  margin-top: -150px;
  max-width: 350px;
  width: 100%;
  display: unset;
  background-color: rgb(255, 255, 255);
  border-radius: 17px;
  padding: 16px;
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  float: right;
  float: top;
}

.order__heading {
  font-weight: 500;
  font-size: 32px;
}

.order__list {
  margin-top: 20px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  font-weight: 500;
  font-size: 20px;
}

.order__item {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}
.order__item--delivery {
  padding: 2px 0px;
  border-top: 1px solid rgba(1, 102, 112, 0.85);
  border-bottom: 1px solid rgba(1, 102, 112, 0.85);
}

.order__name {
  white-space: wrap;
}

.order__info {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.order__final-sum {
  margin-top: 40px;
  font-weight: 500;
  font-size: 20px;
}

.order__total {
  font-weight: 700;
  font-size: 40px;
  margin-top: 3px;
}

.order__buy {
  margin-top: 16px;
  padding: 18px;
  align-self: center;
  width: 100%;
  background-color: rgb(251, 225, 128);
  border-radius: 10px;
}
.order__buy:hover {
  background-color: rgba(251, 225, 128, 0.7);
}

.order__sum {
  white-space: nowrap;
}

.order__cost {
  white-space: nowrap;
}/*# sourceMappingURL=style.css.map */