@use "../../utils/mixins";

.deliv-addr {
  @include mixins.flex ();
}
.deliv-addr__point {
  margin-right: 10px;
  margin-top: -15px;
}
.deliv-addr__text-wrap {
  @include mixins.flex ($d: column);
}
.deliv-addr__current {
  white-space: nowrap;
}
.deliv-addr__change-address {
  background-color: transparent;
  text-decoration: underline;
  opacity: 80%;
  white-space: nowrap;
  margin: 1px 0px 0px -13px;
}