@use "../../utils/variables";
@use "../../utils/mixins";

.footer {
  color: variables.$white;
  background-color: variables.$blue;
  margin-top: 40px;
}
.footer > .wrapper {
  @include mixins.flex($j: space-between);
  padding-top: 10px;
  padding-bottom: 24px;
}
.footer__nav {
  @include mixins.flex();

  
}
.footer__list {
  &:not(:last-child) {
    margin: 0px 60px 0px 0px;
  }

  &--credits {
    text-align: end;
  }
}
.footer__list-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}
.footer__list-text {
  margin-top: 8px;
}
.footer__list-item {
  margin-top: 8px;
}
.footer__list-link {
  color: variables.$white;

  &:hover {
    text-decoration:underline;
  }
  
}

.footer__copy {
  padding: 14px 0px;
  color: variables.$white;
  text-align: center;
  display: block;
  background-color: variables.$dark-blue;
}