@use "../../utils/mixins";
@use "../../utils/variables";

.header {
  background-color: variables.$light-blue;
  max-height: 80px;
  width: 100%;
}

.header > .wrapper {
  @include mixins.flex ($j: space-between, $a: center);
}

.header__general-info {
  @include mixins.flex ($a: center);
}
.header__search-form {


}
.header__deliv-addr {
}
.header__user-info {
  @include mixins.flex ($a: center);
}