@use "../../utils/mixins";
@use "../../utils/variables";

.logo {
  font-family: 'Nova Round';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: variables.$black;

  
  @include mixins.flex ($a: center);
  margin: 16px 28px 14px 0px;
}

.logo__img {
}
