.main {
}
.main__heading {
  z-index: 10;
  margin-top: 40px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  
  &--delivery {
    font-weight: 500;
    font-size: 32px;
  }
  
}
.main__menu{

}
.main__category {

}
.main__page-description {
  margin-top: 40px;
}
.main__cart {}
.main__order {}
.main__delivery-info {}