@use "../../utils/mixins";

.mark {
  @include mixins.flex($d: row, $a: baseline);
  margin-top: 5px;

  &--reviews {
    align-items: center;
    margin-top: 12px;
  }
}
.mark__property {
  font-weight: 500;
  font-size: 18px;
  margin-right: 5px;
}
.mark__opinion {
  margin-left: 5px;
}

.mark__points--reviews {
  font-size: 18px;
  margin-top: 3px;
}
.mark__star-icon {
  margin-right: 2px;

  &--reviews {
    width: 24px;
  }
}