@use "../../utils/mixins";
@use "../../utils/variables";

.quantity-btn {
  @include mixins.flex($a: center);
  &--plus {
    padding: 9px 9px 9px 50px;
    background-color: variables.$main-yellow;
    border-radius: 6px;
    margin-left: -45px;
    border: variables.$black solid 0.5px;

    &:hover {
      background-color: variables.$light-yellow;
    }
  }

  &--minus {
    padding: 9px 50px 9px 9px;
    background-color: variables.$main-yellow;
    border-radius: 6px;
    margin-right: -44px;
    border: variables.$black solid 0.5px;

    &:hover {
      background-color: variables.$light-yellow;
    }
  }
}

.quantity-btn__label {
  padding: 9px 18px 9px 15px;
  border-radius: 7px;
  background-color: variables.$background;
  @include mixins.flex($a: baseline, $j: center);
  z-index: 20;


}
.quantity-btn__input {
  background-color: transparent;
  width: 20px;
  margin-right: 2px;
  text-align: end;

  &:focus {
    outline: none;
  }
}
.quantity-btn__units {
}