@use "../../utils/variables";
@use "../../utils/mixins";

.search-form {
  margin-right: 38px;
  max-width: 363px!important;
  width: 100%;
  @include mixins.flex();
}
.search-form__label {
  width: 363px;
}

.search-form__input {
  width: 100%;
  max-height: 45px;
  height: 100%;
  padding: 12px 57px 12px 12px;
  background: variables.$background;
  margin: 16px 0px 19px 0px;
  border-radius: 9px;
}
.search-form__btn {
  width: 45px;
  height: 45px;
  background-color: variables.$main-yellow;
  margin-left: -45px;
  margin-top: 16px;
  border-radius: 9px;
}