@use "../../utils/mixins";
@use "../../utils/variables";

.user-info {

}
.user-info__cart {
  @include mixins.flex ($d: row, $a: center, $j: space-between);
  padding: 10px;
  background-color: variables.$main-yellow;
  box-shadow: 2px 4px 4px -1px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  color: variables.$black;
  margin-right: 24px;
}


.user-info__profile {
  @include mixins.flex ($d: column);
  text-decoration: underline;
}
.user-info__cart-icon {
  margin-right: 5px;
}
.user-info__profile-icon {
}