@use "../../utils/mixins";

.category {
}
.category__heading {
  margin-top: 35px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
}
.category__list {
  @include mixins.flex();
  flex-wrap: wrap;
  margin-top: 24px;

}

.category__restr-card {
  &:not(:last-child) {
    margin: 0px 40px 24px 0px;
  }
}
  
.category__dishes-card {

    margin: 0px 40px 24px 0px;
  
}