@use "../../utils/mixins";
@use "../../utils/variables";

.menu {
  margin-top: 20px;
  max-height: 50px;
  padding: 5px 15px;
  background-color: variables.$main-yellow;
  border-radius: 11px;
  z-index: 100;
  position: sticky;
  top: 5px;
  
}
.menu__list {
  @include mixins.flex ($a: center);
}

.menu-checked {
  padding: 9px 13px;
  background-color: variables.$background;
  border-radius: 11px;
}

.menu__item {
  padding: 9px 13px;

  &:not(:last-child) {
    margin: 0px 11px 0px 0px;
  }

  &:hover {
    background-color: variables.$background;
    border-radius: 11px;
    padding: 9px 13px;
  }

}
.menu__link {
  color: variables.$black;
}