@use "../../utils/variables";
@use "../../utils/mixins";

.restr-card {
  position: relative;
  @include mixins.flex($d: column);
}

.restr-card__category-label {
  @include mixins.flex($a: center);
  background-color: rgba(255, 249, 199, 0.94);
  border-radius: 5px;
  padding: 3px;
  z-index: 20;
  width: max-content;
  position: absolute;
  bottom: 83%;
  left: 11px;
}

.restr-card__img {
  border-radius: 14px;
  z-index: 1;
  object-fit: cover;
  width: 280px;
  height: 150px;
}

.restr-card__link {
  font-weight: 500;
  font-size: 20px;
  color: variables.$black;
  margin-top: 7px;
}
