{% extends 'restraunt/base.html' %}
{% load static %}

{% block main %}
<h1 class="main__heading">Корзина</h1>

<section class="main__cart cart">
  <ul class="cart__list">
    {% for d in dishes %}
    <li class="cart__item">
      <img class="cart__img" src="{{d.photo.url}}" alt="Воппер">
      <div class="cart__info">
        <span class="cart__name">{{d.title}}</span>
        <p class="cart__ingredients">{{d.ingredients}}</p>
      </div>
      
      <div class="cart__buttons">
        <div class="cart__quantity-btn quantity-btn">
          <button class="quantity-btn quantity-btn--minus">-</button>
          <div class="quantity-btn__label">
            <input class="quantity-btn__input" type="number-text" value="1">
            <span class="quantity-btn__units">шт.</span>
          </div>
          <button class="quantity-btn quantity-btn--plus">+</button>
        </div>
        <button class="cart__delete">Удалить</button>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>

<div class="main__order order">
  <h2 class="order__heading">Мой заказ</h2>
  <ul class="order__list">
    {% for d in dishes %}
      <li class="order__item">
        <span class="order__name">{{d.title}}</span>
        <div class="order__info">
          <span class="order__sum">1 шт</span>
          <span class="order__cost">{{d.price}} p</span>
        </div>
      </li>
    {% endfor %}
    <li class="order__item order__item--delivery">
      <span class="order__delivery">Доставка</span>
      <div class="order__info">
        <span class="order__delivery-cost">{{restraunt.cost_of_delivery}} р</span>
      </div>
    </li>
  </ul>
  <h3 class="order__final-sum">Общая сумма</h3>
  <span class="order__total">{{order.final_cost}} р</span>
  <button class="order__buy" type="submit">Оформить заказ</button>
</div>

<h3 class="main__heading main__heading--delivery">Условия доставки</h3>
<form action="" class="main__delivery-info delivery-info">

  <label class="delivery-info__label">Номер телефона
    <input class="delivery-info__input" type="text" placeholder="+7-999-999-99-99" required>
  </label>
  <label class="delivery-info__label">Адрес доставки
    <input class="delivery-info__input" type="text" placeholder="Москва, Бориса Галушкина, 9"  required>
  </label>

  <div class="delivery-info__wrapper">
    <label class="delivery-info__label">Подъезд
      <input class="delivery-info__input" type="text">
    </label>
    <label class="delivery-info__label">Этаж
      <input class="delivery-info__input" type="text">
    </label>
    <label class="delivery-info__label">Квартира
      <input class="delivery-info__input" type="text">
    </label>
  </div>

  <label class="delivery-info__label">Комментарий к заказу
    <input class="delivery-info__input" type="text" placeholder="Как вас найти...">
  </label>
</form>
{% endblock %}

{% block menu-footer %}
<nav class="footer__nav">
  <ul class="footer__list">
    <li class="footer__list-heading">
      Меню
    </li>
    
    {% for c in categories %}
      <li class="footer__list-item">
        <a href="#" class="footer__list-link">{{c.title}}</a>
      </li>
    {% endfor %}
  </ul>

  <ul class="footer__list">
    <li class="footer__list-heading">
      Рестораны
    </li>
    {% for r in restraunts %}
    <li class="footer__list-item">
      <a href="{% url 'restraunt' r.pk %}" class="footer__list-link">{{r.title}}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% endblock menu-footer %}
