{% extends 'restraunt/base.html' %}
{% load static %}

{% block main %}
<h1 class="visually-hidden">Доставка из ресторана {{restraunt.title}}</h1>

<section class="main__restr-banner restr-banner">
  <h2 class="main__heading restr-banner__heading">{{restraunt.title}}</h2>

  <img class="restr-banner__background-image" src="{{restraunt.banner.url}}" alt="Баннер ресторана {{restraunt.title}}">

  <div class="restr-banner__mark mark">
    <span class="restr-banner__property">Рейтинг</span>
    <img class="mark__star-icon star-icon" src="{% static 'restraunt/img/star.svg' %}" alt="Иконка оценки">
    <p class="mark__points">{{restraunt.rate}}</p>
  </div>

  <div class="restr-banner__delivery">
    <span class="restr-banner__property">Доставка</span>  
    <p class="restr-banner__del-cost">{{restraunt.cost_of_delivery}} р</p>
    <p class="restr-banner__del-time">{{restraunt.time_of_delivery}}</p>
  </div>

  <div class="restr-banner__reviews">
    <span class="restr-banner__property">Отзывы о ресторане</span>
    <a href="{% url 'reviews' restraunt.pk %}" class="restr-banner__reviews-link">Читать все отзывы...</a>
  </div>
</section>

<nav class="main__menu menu">
  <ul class="menu__list">
    {% for d in dishes %}
    <li class="menu__item">
      <a href="#{{d.type}}" class="menu__link">{{d.type}}</a>
    </li>
    {% endfor %}
  </ul>
</nav>

{% for d in dishes %}
<section class="main__category category">
  <h3 class="category__heading" id="{{d.type}}">{{d.type}}</h3>
  <ul class="category__list">
    <li class="category__dishes-card dishes-card">
      <p class="dishes-card__name">{{d.title}}</p>
      <img class="dishes-card__img" src="{{d.photo.url}}" alt="Блюдо {{d.title}}">

      <p class="dishes-card__ingredients">{{d.ingredients}}</p>
      <p class="dishes-card__name">{{d.price}} р</p>
      <button class="dishes-card__add">Добавить в заказ</button>
    </li>
  </ul>
</section>
{% endfor %}

<p class="main__page-description">{{restraunt.description}}</p>
{% endblock %}

{% block menu-footer %}
<nav class="footer__nav">
  <ul class="footer__list">
    <li class="footer__list-heading">
      Меню
    </li>
    
    {% for c in categories %}
      <li class="footer__list-item">
        <a href="#" class="footer__list-link">{{c.title}}</a>
      </li>
    {% endfor %}
  </ul>

  <ul class="footer__list">
    <li class="footer__list-heading">
      Рестораны
    </li>
    {% for r in restraunts %}
    <li class="footer__list-item">
      <a href="{% url 'restraunt' r.pk %}" class="footer__list-link">{{r.title}}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% endblock menu-footer %}