{% extends 'restraunt/base.html' %}
{% load static %}

{% block main %}

<h1 class="main__heading">Отзывы о ресторане {{restraunt.title}}</h1>
<div class="main__mark mark mark--reviews">
  <span class="mark__property">Общий рейтинг</span>
  <img class="mark__star-icon mark__star-icon--reviews" src="{% static 'restraunt/img/star.svg' %}" alt="Иконка оценки">
  <p class="mark__points mark__points--reviews">{{restraunt.rate}}</p>
</div>

<section class="main__reviews reviews">
  <ul class="reviews__list">
    {% for r in reviews %}
    <li class="reviews__item">
      <header class="reviews__header">
        <div class="reviews__rate">
          <span class="reviews__author">{{r.author.name}}</span>
          <div class="reviews__stars">
            <p class="reviews__assess">{{r.assess}}</p>
            <img class="reviews__star-icon" src="{% static 'restraunt/img/star.svg' %}" alt="Звезда рейтинга">
          </div>
        </div>
        <span class="reviews__date">{{r.date|date:"SHORT_DATE_FORMAT" }}</span>
      </header>
      <p class="reviews__text">{{r.text}}</p>
    </li>
    {% endfor %}
  </ul>
</section>

{% endblock %}

{% block menu-footer %}
<nav class="footer__nav">
  <ul class="footer__list">
    <li class="footer__list-heading">
      Меню
    </li>
    
    {% for c in categories %}
      <li class="footer__list-item">
        <a href="#" class="footer__list-link">{{c.title}}</a>
      </li>
    {% endfor %}
  </ul>

  <ul class="footer__list">
    <li class="footer__list-heading">
      Рестораны
    </li>
    {% for r in restraunts %}
    <li class="footer__list-item">
      <a href="{% url 'restraunt' r.pk %}" class="footer__list-link">{{r.title}}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% endblock menu-footer %}
