@use "../../utils/variables";
@use "../../utils/mixins";

.cart {
  margin-top: 24px;
  max-width: 822px;
  width: 100%;
}
.cart__list {
  margin-right: 18px;
}

.cart__item {
  &:not(:last-child) {
    margin: 0px 0px 24px 0px;
  }
  padding: 16px;
  background-color: variables.$white;
  border-radius: 12px;
  @include mixins.flex($j: space-between, $g: 16px);
}

.cart__img {
  width: 118px;
  border-radius: 10px;
  object-fit: cover;
}


.cart__info {

}
.cart__name {
  font-weight: 500;
  font-size: 20px;
}
.cart__ingredients {
  margin-top: 16px;
  line-height: 130%;
}
.cart__buttons {
  @include mixins.flex($d: column, $j: center);

}
.cart__quantity-btn {

}
.cart__delete {
  margin-top: 20px;
  background-color: transparent;
  color: rgba(185, 0, 0, 1);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

}