@use "../../utils/mixins";
@use "../../utils/variables";

.delivery-info {
  @include mixins.flex ($g: 12px, $d: column);
  max-width: 510px;
  width: 100%;
}
.delivery-info__label {
}
.delivery-info__wrapper {
  @include mixins.flex($g: 40px, $j: space-between);
}
.delivery-info__input {
  margin-top: 3px;
  padding: 9px 0px 9px 9px;
  width: 100%;
  border: 0.5px solid variables.$black;
  border-radius: 8px;
}