@use "../../utils/variables";
@use "../../utils/mixins";

.order {
  margin-top: -150px;
  max-width: 350px;
  width: 100%;
  display: unset;
  background-color: variables.$white;
  border-radius: 17px;
  padding: 16px;
  position: sticky;
  top: 5px;
  float:right;
  float:top;
}
.order__heading {
  font-weight: 500;
  font-size: 32px;
}
.order__list {
  margin-top: 20px;
  @include mixins.flex($d: column, $g: 16px);
  font-weight: 500;
  font-size: 20px;
}
.order__item {
  @include mixins.flex($g: 5px, $j: space-between);

  &--delivery {
    padding: 2px 0px;
    border-top: 1px solid variables.$blue;
    border-bottom: 1px solid variables.$blue;
  }
}
.order__name {
  white-space: wrap;
}
.order__info {
  @include mixins.flex($g: 5px, $j: space-between);
}
.order__delivery {
}
.order__final-sum {
  margin-top: 40px;
  font-weight: 500;
  font-size: 20px;
}
.order__total {
  font-weight: 700;
  font-size: 40px;
  margin-top: 3px;
}
.order__buy {
  margin-top: 16px;
  padding: 18px;
  align-self: center;
  width: 100%;
  background-color: variables.$main-yellow;
  border-radius: 10px;

  &:hover {
    background-color: variables.$light-yellow;
  }
}

.order__item.order__item--delivery {
}

.order__sum {
  white-space: nowrap;

}
.order__cost {
  white-space: nowrap;

}
.order__delivery-cost {
}
