@use "../../utils/mixins";
@use "../../utils/variables";

.dishes-card {
  position: relative;
  @include mixins.flex($d: column, $j: space-between);
  max-width: 290px;
  width: 100%;
  background-color: variables.$white;
  border-radius: 14px;
  padding: 16px 10px;
}
.dishes-card__name {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}
.dishes-card__img {
  border-radius: 11px;
  object-fit: cover;
}
.dishes-card__category-label {
  @include mixins.flex($a: center);
  background-color: rgba(255, 249, 199, 0.94);
  border-radius: 5px;
  padding: 3px;
  z-index: 20;
  width: max-content;
  position: absolute;
  bottom: 81%;
  left: 16px;
}
.dishes-card__ingredients {
  margin-top: 16px;
  line-height: 130%;
  margin-bottom: 16px;
}
.dishes-card__add {
  justify-self:end;
  padding: 9px 26px;
  background-color: variables.$main-yellow;
  border-radius: 6px;
  align-self: center;

  &:hover {
    background-color: variables.$light-yellow;
  }
}
