@use "../../utils/variables";
@use "../../utils/mixins";

.restr-banner {
  position: relative;
  margin-top: 40px;
  padding: 36px 0px 36px 36px;
}

.restr-banner__background-image {
  filter: brightness(70%);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  z-index: 0;
  width: 100%;
  height: 258px;
  object-fit: cover;

}

.restr-banner__heading {
  position: relative;
  z-index: 10;
  margin-top: 0;
  color: variables.$background;
}
.restr-banner__property {
  z-index: 5;
  font-weight: 800;
  font-size: 24px;
  margin-right: 7px;

}
.restr-banner__mark {
  position: relative;
  z-index: 5;
  margin-top: 12px;
  color: variables.$background;
}
.restr-banner__delivery {
  position: relative;
  z-index: 5;
  @include mixins.flex($a: center);
  font-weight: 500;
  font-size: 20px;
  margin-top: 12px;
  color: variables.$background;
}
.restr-banner__reviews {
  position: relative;
  z-index: 5;
  margin-top: 12px;
  color: variables.$background;
}
.restr-banner__del-cost {
  z-index: 5;
  margin-right: 7px;
}
.restr-banner__del-time {
  z-index: 5;
}
.restr-banner__reviews-link {
  z-index: 5;
  color: variables.$background;
  text-decoration: underline;
  margin-top: 5px;
  font-size: 18px;

  &:hover {
    text-decoration: none;
  }
}